h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
}

img {
    width: 30%;
    height: 30%;
    display: block;
    margin: 0 auto;
}

a {
    display: block;
    padding: 10px 30px;
    background-color: lightsteelblue;
    font-size: 24px;
    margin: 20px auto;
    width: 113px;
    text-align: center;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

