<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TOP</title>
    <link type="text/css" href="/css/top.css" rel="stylesheet">
</head>
<body>
<h1>Top of cats:</h1>
<div class="images">
    <th:block th:each="cat: ${topCats}">
        <div class="image">
            <li class="image__place"></li>
            <img th:id="${cat.id}" th:src="${cat.image}" alt="">
            <span th:id="${cat.id}" id="name"><span th:text="${cat.name}"></span></span>
        </div>
    </th:block>
</div>
<script src="/js/top.js"></script>
</body> 
</html>